*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
    width: 1050px;
    height: 800px;
    margin: auto;
}

.background-header {
    height: 80px;
    background-color: rgb(36, 120, 255);
    background-image: url(../img/pattern.png);
    background-size: contain; 
    position: relative;
}

.logo-header {
    height: 80px;
    width: 100%;
    margin-left: 200px;
    position: absolute;
    top: 2px;
    right: 380px;
}

.tittle {
    font-size: 36px;
    margin-top: 0.8em;
}

.description {
    color: rgba(158, 155, 155, 1)
}

span { color: #75bdd5;
    
}

.year, .photo-description  {
    font-size: 0.7em;
    ma
}

.image-tim-lee, .yellow-mark, ul, table, .description, .image-footer-monitor {
   margin-top: 20px;
   
}

mark {
    background-color: yellow;

}

.list-lorem {
    list-style-position: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 5px;
    text-align: left;
    color: white;
}

.row-blue {
    background-color: #09b5e4;
}

.row-light-blue{
    background-color: #b5e7fa;
}

.image-footer-graf {
    margin-top: 10px;
}


.tittle-lorem-ipsum{
    position: relative;
}

.image-monitor {
    position: absolute;
    top: 30px; 
    left: 15px;
}

.image-graf {
    position: absolute;
    top: 255px; 
    left: 15px;
    
}

.image-monitor, .image-graf {
    color: white;
    font-size: 0.9em;
}
