*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
    width: 1050px;
    margin: auto;
}

.background-header {
    height: 80px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 262px; 
    line-height: 80px;
}

.logo-header {
    height: 60px;
    width: auto;
    vertical-align: middle;
}

.tittle {
    font-size: 36px;
    margin-top: 0.8em;
}

.description {
    color: rgba(158, 155, 155, 1)
}

a{
    text-decoration: none;
    color: #32b1e8;
}

address {
    font-style: normal;
}

.text-gray {
    color: #8492a2;
}

.text-small  {
    font-size: 0.7em;
    ma
}

.image-tim-lee, .yellow-mark, ul, table, .description, .image-footer-monitor {
   margin-top: 20px;
   
}

mark {
    background-color: yellow;

}

.list-lorem {
    list-style-position: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 5px;
    text-align: left;
    color: white;
}

.row-blue {
    background-color: #09b5e4;
}

.row-light-blue{
    background-color: #b5e7fa;
}

.image-footer-graf {
    margin-top: 10px;
}


.tittle-lorem-ipsum{
    position: relative;
}

.image-monitor {
    position: absolute;
    top: 30px; 
    left: 15px;
}

.image-graf {
    position: absolute;
    top: 255px; 
    left: 15px;
    
}

.image-monitor, .image-graf {
    color: white;
    font-size: 0.9em;
}
